# Private key for the deployer account
PRIVATE_KEY="your_private_key_here"

# Private key for a "INSTITUTIONAL_TRADER" account
INSTITUTIONAL_TRADER_PRIVATE_KEY="your_institutional_trader_private_key_here"

# Unichain Sepolia RPC URL
UNICHAIN_SEPOLIA_RPC_URL=""

# Uniscan API key for contract verification on Unichain Sepolia
UNISCAN_API_KEY=""

# USDC token address on Unichain Sepolia (replace with actual address)
# For testing, you can deploy a mock ERC20 or use an existing token
USDC_ADDRESS_MOCK_ON_UNICHAIN_SEPOLIA=""

# # Official USDC token address on Arbitrum mainnet
# # Official Circle Faucet for USDC: https://faucet.circle.com/
# USDC_ADDRESS_OFFICIAL_ON_ARBITRUM_SEPOLIA="0x3a3A65aAb0dd2A17E3F1947bA16138cd37d08c04"


# Uniswap V4 PoolManager address on Unichain Sepolia
POOL_MANAGER_ADDRESS=""

#==========================================#
# Deployment Addresses on Unichain Sepolia #
#==========================================# 
# Each HonkVerifier contract address after deployment
COMPLIANCE_HONK_VERIFIER_ADDRESS=""
POLICY_HONK_VERIFIER_ADDRESS=""
STRATEGY_HONK_VERIFIER_ADDRESS=""

# HonkVerifier contract address after deployment
COMPLIANCE_HONK_VERIFIER_CONTRACT_ADDRESS=""

# HonkVerifier contract address after deployment
POLICY_HONK_VERIFIER_CONTRACT_ADDRESS=""

# HonkVerifier contract address after deployment
STRATEGY_HONK_VERIFIER_CONTRACT_ADDRESS=""

# ComplianceProofVerifier contract address after deployment
COMPLIANCE_PROOF_VERIFIER_ADDRESS=""

# PolicyProofVerifier contract address after deployment
POLICY_PROOF_VERIFIER_ADDRESS=""

# StrategyProofVerifier contract address after deployment
STRATEGY_PROOF_VERIFIER_ADDRESS=""

# UniswapV4ConfidentialHook contract address after deployment
UNISWAP_V4_CONFIDENTIAL_HOOK_ADDRESS=""
