# Private key for the deployer account
PRIVATE_KEY="your_private_key_here"

# Private key for a "INSTITUTIONAL_TRADER" account
INSTITUTIONAL_TRADER_PRIVATE_KEY="your_institutional_trader_private_key_here"
INSTITUTIONAL_TRADER_ADDRESS="your_institutional_trader_address_here"

# Unichain Sepolia RPC URL
UNICHAIN_SEPOLIA_RPC_URL=""

# Uniscan API key for contract verification on Unichain Sepolia
UNISCAN_API_KEY=""

# Uniswap V4 PoolManager address on Unichain Sepolia
POOL_MANAGER_ADDRESS="0xC81462Fec8B23319F288047f8A03A57682a35C1A"

# Uniswap V4 Position Manager address on Unichain Sepolia
POSITION_MANAGER_ADDRESS="0xf969Aee60879C54bAAed9F3eD26147Db216Fd664"

# Uniswap V4 Swap Router address on Unichain Sepolia
SWAP_ROUTER_ADDRESS="0x9cD2b0a732dd5e023a5539921e0FD1c30E198Dba"

# Permit2 address (same on all chains)
PERMIT2_ADDRESS="0x000000000022D473030F116dDEE9F6B43aC78BA3"


#==========================================#
# Deployment Addresses on Unichain Sepolia #
#==========================================#
# Each HonkVerifier contract address after deployment
COMPLIANCE_HONK_VERIFIER_ADDRESS=""
POLICY_HONK_VERIFIER_ADDRESS=""
STRATEGY_HONK_VERIFIER_ADDRESS=""

# HonkVerifier contract address after deployment
COMPLIANCE_HONK_VERIFIER_CONTRACT_ADDRESS=""

# HonkVerifier contract address after deployment
POLICY_HONK_VERIFIER_CONTRACT_ADDRESS=""

# HonkVerifier contract address after deployment
STRATEGY_HONK_VERIFIER_CONTRACT_ADDRESS=""

# ComplianceProofVerifier contract address after deployment
COMPLIANCE_PROOF_VERIFIER_ADDRESS=""

# PolicyProofVerifier contract address after deployment
POLICY_PROOF_VERIFIER_ADDRESS=""

# StrategyProofVerifier contract address after deployment
STRATEGY_PROOF_VERIFIER_ADDRESS=""

# UniswapV4ConfidentialHook contract address after deployment
UNISWAP_V4_CONFIDENTIAL_HOOK_ADDRESS=""

# Mock token addresses for testing
MOCK_USDC_ADDRESS="0x985d734F7b61f9DB72087025dA661b14e65871a6"
MOCK_WETH_ADDRESS="0x9b58e2288a0d00cC67996B8210cB9871523C2Daf"
